/*universal section*/


/*homepage*/
/*Header Section*/


header{
    border: 4px solid white;
    position: fixed;
    top:0;
    z-index: 100;
    width: 100%;
}
header .container-fluid{
    padding: 25px;
}
 
header .container-fluid h1{
    font-family: "bebas neue";
    word-spacing: 25px;
    letter-spacing: 3px;
}

header #menu{
    width: 50%;
    flex-wrap: nowrap;
}



@media only screen and (max-width:768px){
    #navmobile li{
        display: none;
    }
}

/*main section*/

#mainhome{
    background-color: rgb(203, 224, 248);
    border: 4px solid white;
    position: relative;
    top:50px;
}

#center{
    width: 100%;
}

#blog{
    border: 10px solid white;
    margin:15px;
    background-image: url(../Resources/Images/journel.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 50px 0;
    box-shadow: 5px 5px 10px black;
    font-size: 25px;
}

#healthysnacks{
    background-image: url(../Resources/Images/healthysnacks.jpeg);
    background-size: auto;
    background-repeat: no-repeat;
    border: 10px solid white;
    margin: 15px;
    color: white;
    box-shadow: 5px 5px 10px black;
}

#activities{
    background-image: url(../Resources/Images/grass\ area.jpeg);
    border: 10px solid white;
    margin: 15px;
    color:white;
    box-shadow: 5px 5px 10px black;
}

#detaildiv{
    padding-top: 13px;
}

#parks{
    background-image: url(https://images.unsplash.com/photo-1552537595-b30edb7afd9d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80);
    background-size: cover;
    background-position: 0 60%;
    background-repeat: no-repeat;
    border: 10px solid white;
    margin: 15px;
    color: white;
    box-shadow: 5px 5px 10px black;
}

#whyblog{
    border: 10px solid white;
    background-image: url(../Resources/Images/wooden\ chest.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    box-shadow: 5px 5px 10px black;
    padding: 50px 0;
    margin: 15px;
    
}

#dadtime{
    border: 10px solid white;
    background-image: url(../Resources/Images/dadtime.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:0 25%;
    color: white;
    padding: 50px 0;
    box-shadow: 5px 5px 10px black;
    margin: 15px;
}

#secondrow{
    margin:auto;
    padding-bottom: 25px;
}

#licenter{
    list-style-position: inside;
}

#img{
    width: 100%;
    border: 10px solid white;
    margin-top: 15px;
    box-shadow: 5px 5px 10px black;
}

#my-carousel{
    
    border: 10px solid white;
    box-shadow: 5px 5px 10px black;
    margin: 15px;
}

.carousel-inner{
    max-height: 400px;
    
}
.carousel-inner img{
   max-height: 500px;
}



/*about me page*/

#mainabout{
    background-image: url(../Resources/Images/stripaboutme.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 55% 30%;
    border: 4px solid white;
    position: relative;
    top: 50px;
   
}


    /*jumbotron section*/



#aboutmeP{
    text-shadow: 3px 3px black;
    padding: 50px 0;
    
}


/*body section*/


#aboutimgdiv{
    padding:50px 0;
}

#aboutmeimg{
    width: 100%;
    
    border-radius: 3%;
    box-shadow: 5px 5px 10px black;
   
}

#aboutmepara{
    padding-top: 25px;
    font-size: 30px;
    

}

/*Family page*/

#mainfamily{
    background-image: url(../Resources/Images/vegasbackground.jpeg);
    background-size: cover;
    background-attachment: fixed;
    border: 4px solid white;
    position: relative;
   
}

/*jumbotron section*/


#familyheader{
    background-image: url(../Resources/Images/family.jpeg);
    background-size: cover;
    background-position-y: 50%;
    height: 300px;
    background-color:rgb(203, 224, 248);
}

#familytitle{
    text-shadow: 3px 3px black;
    color: white;
}

#familyimg{
    width: 100%;
    border: 10px solid white;
    border-radius: 3%;
    box-shadow: 5px 5px 10px black;
}

#familyimg2ndrow{
    max-height: 360px;
    width: 100%;
    border: 10px solid white;
    border-radius: 3%;
    box-shadow: 5px 5px 10px black;
}

#family2ndrow{
    padding-top: 30px;
    
}

#familydescrip{
    padding:20px 0;
}

#mycarouselimg{
    max-height: 340px;
}

/*blog section*/
#mainblog{
    background-color: rgb(203, 224, 248);
    border: 4px solid white;
    position: relative;
    top: 50px;
   
}

#blogpagediv{
    padding-top: 25px;
}

#blogpage{
    background-image: url(../Resources/Images/pencil.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -30%  45%;
    border: 10px solid white;
    margin: 15px;
    color: white;
    box-shadow: 5px 5px 10px black;
    padding: 25px 0;

    
   
}

#theblog{
    background-image: url(../Resources/Images/the\ blog\ bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 10px solid white;
    margin: 15px;
    color: white;
    box-shadow: 5px 5px 10px black;
    padding: 50px 15px;
    font-size: 25px;
}

#linkgone{
    pointer-events: auto;
}

#blogs{
    background-image: url(../Resources/Images/grandfatherclock.jpeg);
    background-repeat: no-repeat;
    background-position-x: 45%;
    border: 10px solid white;
    margin: 15px;
    color: white;
    box-shadow: 5px 5px 10px black;
    padding: 50px 0;
}

#dadtime2{
    background-image: url(../Resources/Images/dadtime2.jpeg);
    background-repeat: no-repeat;
    background-position-x: 45%;
    border: 10px solid white;
    margin: 15px;
    color: white;
    box-shadow: 5px 5px 10px black;
    padding: 50px 0;
}
/*footer section*/

footer{
    
    height: 50px;
    background-color: #f8f9fa;
    border: 4px solid white;
    
}

footer p{
    padding-top: 20px;
    padding-left: 10px;
    font-size: larger;
}

footer i{
    padding:17px 10px 0 0
}