/*universal section*/



/*Header Section*/


header{
    background-color: rgb(190, 190, 190);
    height: 100px;
}
header .container-fluid{
    padding: 25px;
}
 
header .container-fluid h1{
    font-family: "bebas neue";
}

header #menu{
    width: 50%;
    flex-wrap: nowrap;
}



@media only screen and (max-width:768px){
    #navmobile li{
        display: none;
    }
}

/*main section*/

main{
    background-color: darkolivegreen;
}