/*universal section*/



/*Header Section*/


header{
    background-color: rgb(230, 224, 224);
    height: 100px;
    border: 4px solid white;
    position: fixed;
    top:0;
    z-index: 100;
    width: 100%;
}
header .container-fluid{
    padding: 25px;
}
 
header .container-fluid h1{
    font-family: "bebas neue";
    word-spacing: 25px;
    letter-spacing: 3px;
}

header #menu{
    width: 50%;
    flex-wrap: nowrap;
}



@media only screen and (max-width:768px){
    #navmobile li{
        display: none;
    }
}

/*main section*/

main{
    background-color: rgb(203, 224, 248);
    border: 4px solid white;
    position: relative;
    top: 100px;
}

#center{
    width: 100%;
}

#blog{
    border: 10px solid white;
    margin:15px 0 15px 15px;
    background-image: url(../Resources/Images/journel.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 50px 0;
    box-shadow: 5px 5px 10px black;
}

#healthysnacks{
    background-image: url(../Resources/Images/healthysnacks.jpeg);
    background-size: auto;
    background-repeat: no-repeat;
    border: 10px solid white;
    margin: 15px;
    color: white;
    box-shadow: 5px 5px 10px black;
}

#activities{
    background-image: url(../Resources/Images/grass\ area.jpeg);
    border: 10px solid white;
    margin: 15px;
    color:white;
    box-shadow: 5px 5px 10px black;
}

#detaildiv{
    padding-top: 13px;
}

#parks{
    background-image: url(https://images.unsplash.com/photo-1552537595-b30edb7afd9d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80);
    background-size: cover;
    background-position: 0 60%;
    background-repeat: no-repeat;
    border: 10px solid white;
    margin: 15px;
    color: white;
    box-shadow: 5px 5px 10px black;
}

#whyblog{
    border: 10px solid white;
    background-image: url(../Resources/Images/wooden\ chest.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 50px 0;
    box-shadow: 5px 5px 10px black;
    
}

#dadtime{
    border: 10px solid white;
    background-image: url(../Resources/Images/dadtime.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:0 25%;
    color: white;
    padding: 50px 0;
    box-shadow: 5px 5px 10px black;
    margin-right: 15px;
}

#secondrow{
    margin:auto;
}

#licenter{
    list-style-position: inside;
}

#img{
    width: 98%;
    border: 10px solid white;
    margin: 15px;
    box-shadow: 5px 5px 10px black;
}
